# Configuración PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=super_secreto_local
POSTGRES_DB=fisio_db

# Configuración Mongo
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=super_secreto_local