# Configuración PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=super_secreto_local
POSTGRES_DB=fisio_db

# Configuración Mongo
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=super_secreto_local

# Configuración Polar API
POLAR_CLIENT_ID=tu_client_id
POLAR_CLIENT_SECRET=tu_client_secret
