name: CI/CD TFG

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: mvn -f backend/Fisioterapia_TFG/pom.xml clean verify

      - name: Build JAR
        run: mvn -f backend/Fisioterapia_TFG/pom.xml package -DskipTests -pl bootstrap -am

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      ## Docker can't create containers with uppercase names, so we convert the owner to lowercase
      - name: Lowercase Registry Owner
        id: string_transform
        run: |
            echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
            OWNER: '${{ github.repository_owner }}'

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./backend/Fisioterapia_TFG
          file: ./backend/Fisioterapia_TFG/Dockerfile
          push: true
          tags: ghcr.io/${{ env.OWNER_LC }}/fisioterapia-backend:latest
          build-args: |
            JAR_FILE=bootstrap/target/fisioterapia-app.jar
  
