name: CI/CD TFG

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: mvn -f backend/Fisioterapia_TFG/pom.xml clean verify

      - name: Build JAR
        run: mvn -f backend/Fisioterapia_TFG/pom.xml package -DskipTests -pl bootstrap -am

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ...
          build-args: |
            JAR_FILE=backend/bootstrap/target/fisioterapia-app.jarsioterapia-backend:latest
  
