name: pulls.yml
on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    services:
      docker:
        image: docker:24.0-dind
        options: --privileged
        DOCKER_TLS_CERTDIR: ""
        ports:
          - 2375:2375
    env:
      DOCKER_HOST: tcp://localhost:2375
      DOCKER_TLS_VERIFY: ""
      TESTCONTAINERS_HOST_OVERRIDE: localhost
      TESTCONTAINERS_RYUK_DISABLED: "true"
      TESTCONTAINERS_CHECKS_DISABLE: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven

      - name: Check Docker Version
        run: docker version

      - name: Run Tests
        run: mvn -f backend/Fisioterapia_TFG/pom.xml clean verify

      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: '**/target/site/jacoco/'